body,
html {
    text-align: center;
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}

h1 {
    background-color: #2e3d49;
    color: #fff;
    font-size: 70px;
    margin: 0;
    padding: 20px;
}

h2 {
    color: #465c6d;
    margin: 1.5em 0 0.5em;
}

table,
tr,
td {
    border: 1px solid #aaa;
}

table {
    border-collapse: collapse;
    margin: 0 auto 50px;
    -webkit-box-shadow: 10px 10px 13px -5px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 13px -5px rgba(0,0,0,0.75);
    box-shadow: 10px 10px 13px -5px rgba(0,0,0,0.75);
}

tr {
    height: 30px;
}

td {
    width: 30px;
}

.submit-btn {
    background-color: #15c26b;
    color: #fff;
    border: none;
    border-radius: 4px;
    padding: 1em 4em;
    text-transform: uppercase;
    cursor: pointer;
    margin-top: 1em;
}

.submit-btn:hover {
    background-color: #12a159;
}

input {
    margin: 0.3em;
}

input[type=number] {
    width: 6em;
    padding: 0.5em;
    border: 1px solid #ccc;
    border-radius: 4px;
}

input[type=color] {
    height: 50px;
    width: 50px;
}

